<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}"></div>
<form th:action="@{/register}" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required/>
    </div>
    <input type="submit" value="Register"/>
</form>
</body>
</html>
